html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.standard-cell {
    border-right: 2px solid black; /* Adjust border color and style as needed */
    width: 10%; /* Adjust the width as needed */
    position: relative;
}